{% extends '::base.html.twig' %}
{% block body %}
    <!-- Banner area -->
    <section class="banner_area2 train" data-stellar-background-ratio="0.5">
        <h2>{{'translate.ServicesLink71'|trans}}</h2>
    </section>
    <!-- End Banner area -->

    <!-- blog area -->
    <section class="blog_all">
        <div class="container">
            <div class="row m0 blog_row">
                <div class="col-sm-8 main_blog">
                    <img src="{{asset('bundles/test/images/training.png')}}" alt="">
                    <div class="col-xs-11 blog_content">
                        <a class="blog_heading" href="#">{{'translate.activitesTT'|trans}}</a>
                        <p>{{'translate.activitesp1'|trans}}</p>
                        <p>{{'translate.activitesp1'|trans}}</p>
                        <p>{{'translate.activitesp1'|trans}}</p>              
                     </div>
                </div>
                <div class="col-sm-4 widget_area">
                    <div class="resent">
                        <h3><p>{{'translate.activitespgm'|trans}}</p></h3>
                        <ul class="architecture">
                          <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm1'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm2'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm3'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm4'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm5'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm6'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm7'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm8'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm9'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm10'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm11'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm12'|trans}}</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm13'|trans}}</a></li>                            
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm14'|trans}}</a></li>                            
                            <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{'translate.activitespgm15'|trans}}</a></li>    
                        </ul>
                    </div>
                    <div class="resent">
                        <h3><p>{{'translate.activitestg'|trans}}</p></h3>
                        <ul class="tag">
                            <li><a href="#"><p>{{'translate.ServicesLink11'|trans}}</p></a></li>
                            <li><a href="#">{{'translate.activitestg2'|trans}}</a></li>
                            <li><a href="#">{{'translate.activitestg3'|trans}}</a></li>
                            <li><a href="#">{{'translate.activitestg4'|trans}}</a></li>
                            <li><a href="#">{{'translate.activitestg5'|trans}}</a></li>
                            <li><a href="#">{{'translate.activitestg6'|trans}}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End blog area -->
{% endblock %}