{% extends '::base.html.twig' %}
{% block body %}
 <!-- Banner area -->
    <section class="banner_area ref" data-stellar-background-ratio="0.5">
        <h2>{{'translate.link4'|trans}}</h2>
    </section>
    <!-- End Banner area -->

    <!-- blog-2 area -->
    <section class="blog_tow_area">
        <div class="container">
           <div class="row blog_tow_row">
                <div class="col-md-4 col-sm-6">
                    <div class="renovation">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-1.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre1'|trans}}</a>
                            <p>  {{'translate.referencesInfo1'|trans}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="renovation ">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-2.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre2'|trans}}</a>
                           
                            <p>{{'translate.referencesInfo2'|trans}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="renovation">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-3.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre3'|trans}}</a>
                            <p>{{'translate.referencesInfo3'|trans}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="renovation">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-4.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre4'|trans}}</a>
                            
                            <p>{{'translate.referencesInfo4'|trans}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="renovation">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-5.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre5'|trans}}</a>
                            <p>{{'translate.referencesInfo5'|trans}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="renovation">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-6.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre6'|trans}}</a>
                            <p>{{'translate.referencesInfo6'|trans}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="renovation">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-7.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre7'|trans}}</a>
                            <p>{{'translate.referencesInfo7'|trans}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="renovation">
                        <img src="{{asset('bundles/test/images/blog/renovation/r-8.jpg')}}" alt="">
                        <div class="renovation_content">
                            <a class="clipboard" href="#"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
                            <a class="tittle" href="#">{{'translate.referencesTitre8'|trans}}</a>
                            <p>{{'translate.referencesInfo8'|trans}}</p>
                        </div>
                    </div>
                </div>
              
           </div>
        </div>
    </section>
    <!-- End blog-2 area -->
{% endblock %}